<div class="container">
  <div class="container__header">
    <div class="container__header__hint">
      <div class="container__header__hint__bar">
        <div class="container__header__hint__bar__content">
          <p class="container__header__hint__bar__content__info-text">Open jobs categories overtime</p>
          <mat-icon appIcon svgIcon="info" aria-hidden="false" aria-label="info SVG icon"></mat-icon>
        </div>
        <div class="container__header__hint__bar__date">
          <p class="container__header__hint__bar__date__paragraph">15 Jun 2021 - 24 Jun 2021 compared to 1 Jun 2021 - 10 Jun 2021</p>
        </div>
      </div>
      <div class="container__header__hint__icons">
        <span class="container__header__hint__icons__filter"><mat-icon appIcon svgIcon="filter" aria-hidden="false" aria-label="filter SVG icon"></mat-icon></span>
        <span class="container__header__hint__icons__more-actions"><mat-icon appIcon svgIcon="more-actions" aria-hidden="false" aria-label="more-actions SVG icon"></mat-icon></span>
      </div>
    </div>
  </div>
  <div class="container__chart">
    <div class="container__chart__data">
      <div class="container__chart__data__verticaltext">
        <div class="container__chart__data__verticaltext__subject">Open&nbsp;Jobs</div>
      </div>
      <iframe style=".title-text{display: none}" src='https://phenom.cloud.looker.com/embed/public/z7GfZXszMFSbTj6wkRP7thYXwy8BttGr' width='564' height='272' frameborder='0'></iframe>
    </div>
  </div>
</div>





<!--  <div class="container__chart">-->
<!--    <div class="container__chart__data">-->
<!--      <div class="container__chart__data__verticaltext">-->
<!--        <div class="container__chart__data__verticaltext__subject">Open&nbsp;Jobs</div>-->
<!--      </div>-->
<!--      <iframe style=".title-text{display: none}" src='https://phenom.cloud.looker.com/embed/public/z7GfZXszMFSbTj6wkRP7thYXwy8BttGr' width='564' height='272' frameborder='0'></iframe>-->
<!--    </div>-->
<!--    <div class="container__chart__horizontaltext">-->
<!--      <p class="container__chart__horizontaltext__paragraph">Daily</p>-->
<!--      <mat-icon appIcon svgIcon="arrow-down" aria-hidden="false" aria-label="arrow down SVG icon"></mat-icon>-->
<!--    </div>-->
<!--    <hr class="hr-line">-->
<!--  </div>-->
