<div class="analytics-dashboard">
  <div class="analytics-dashboard__header">
  </div>
  <div class="analytics-dashboard__new-page">
    <div class="analytics-dashboard__new-page__dashboard">
      <div class="analytics-dashboard__new-page__dashboard__component-m">
        <app-bar-chart></app-bar-chart>
      </div>
      <div class="analytics-dashboard__new-page__dashboard__component-m">
        <app-line-chart appIcon></app-line-chart>
      </div>
      <div class="analytics-dashboard__new-page__dashboard__component-m">
        <app-kpi-chart></app-kpi-chart>
      </div>
<!--      <div class="analytics-dashboard__new-page__dashboard__component-l">-->
<!--        <app-campaigns-overview></app-campaigns-overview>-->
<!--      </div>-->
    </div>
  </div>
</div>
