<div class="container">
  <div class="container__header">
    <div class="container__header__hint">
      <div class="container__header__hint__bar">
        <div class="container__header__hint__bar__content">
          <p class="container__header__hint__bar__content__info-text">Open jobs categories overtime</p>
          <mat-icon appIcon svgIcon="info" aria-hidden="false" aria-label="info SVG icon"></mat-icon>
        </div>
        <div class="container__header__hint__bar__date">
          <p class="container__header__hint__bar__date__paragraph">15 Jun 2021 - 24 Jun 2021</p>
        </div>
      </div>
      <div class="container__header__hint__icons">
        <span class="container__header__hint__icons__filter"><mat-icon appIcon svgIcon="filter" aria-hidden="false" aria-label="filter SVG icon"></mat-icon></span>
        <span class="container__header__hint__icons__more-actions"><mat-icon appIcon svgIcon="more-actions" aria-hidden="false" aria-label="more-actions SVG icon"></mat-icon></span>
      </div>
    </div>
  </div>
  <div class="container__chart">
    <div class="container__chart__data">
      <div class="container__chart__data__verticaltext">
        <div class="container__chart__data__verticaltext__subject">Open&nbsp;Jobs</div>
      </div>
      <div id="linearChart" class="container__chart__data__linear">
      </div>
    </div>
    <div class="container__chart__horizontaltext">
      <p class="container__chart__horizontaltext__paragraph">Daily</p>
      <mat-icon appIcon svgIcon="arrow-down" aria-hidden="false" aria-label="arrow down SVG icon"></mat-icon>
<!--      <mat-icon svgIcon="thumbs-up" aria-hidden="false" aria-label=" thumbs up SVG icon"></mat-icon>-->
    </div>
    <hr class="hr-line">
  </div>
  <div class="container__footer">
<!--    TODO refactor-->
<!--    <div *ngFor="let i of this.loopTimes" class="container__footer__legend">-->
<!--      <span class="container__footer__legend__img-box"><mat-icon appIcon svgIcon="velvet-circle" aria-hidden="false" aria-label="velvet circle SVG icon"></mat-icon></span>-->
<!--      <span class="container__footer__legend__description">{{i}}</span>-->
<!--    </div>-->

    <div class="container__footer__legend">
      <span class="container__footer__legend__img-box"><mat-icon appIcon svgIcon="velvet-circle" aria-hidden="false" aria-label="velvet circle SVG icon"></mat-icon></span>
      <span class="container__footer__legend__description">Marketing</span>
      <span class="container__footer__legend__img-box"><mat-icon appIcon svgIcon="green-circle" aria-hidden="false" aria-label="velvet circle SVG icon"></mat-icon></span>
      <span class="container__footer__legend__description">Design</span>
      <span class="container__footer__legend__img-box"><mat-icon appIcon svgIcon="orange-circle" aria-hidden="false" aria-label="velvet circle SVG icon"></mat-icon></span>
      <span class="container__footer__legend__description">Development</span>
    </div>
  </div>
</div>
