<div class="container">
  <div class="container__header">
    <div class="container__header__hint">
      <div class="container__header__hint__bar">
        <div class="container__header__hint__bar__content">
          <p class="container__header__hint__bar__content__info-text">Open jobs categories overtime</p>
          <mat-icon appIcon svgIcon="info" aria-hidden="false" aria-label="info SVG icon"></mat-icon>
        </div>
        <div class="container__header__hint__bar__date">
          <p class="container__header__hint__bar__date__paragraph">15 Jun 2021 - 24 Jun 2021 compared to 1 Jun 2021 - 10 Jun 2021</p>
        </div>
      </div>
      <div class="container__header__hint__icons">
        <span class="container__header__hint__icons__filter"><mat-icon appIcon svgIcon="filter" aria-hidden="false" aria-label="filter SVG icon"></mat-icon></span>
        <span class="container__header__hint__icons__more-actions"><mat-icon appIcon svgIcon="more-actions" aria-hidden="false" aria-label="more-actions SVG icon"></mat-icon></span>
      </div>
    </div>
  </div>
  <div class="container__boxes">
    <div class="container__boxes__first-row">
      <app-kpi-box [event] = "event"
                   [eventNum] = "eventNum"
                   [arrowPosition] = "arrowUp"
                   [percent]="persentbox1">
      </app-kpi-box>
      <app-kpi-box [event] = "avgEvent"
                   [eventNum] = "eventNum"
                   [arrowPosition] = "arrowDown"
                   [percent]="persentbox2">
      </app-kpi-box>
      <app-kpi-box [event] = "event"
                   [eventNum] = "eventNum"
                   [arrowPosition] = "arrowDown"
                   [percent]="persentbox3">
      </app-kpi-box>
    </div>
    <div class="container__boxes__second-row">
      <app-kpi-box [event] = "event"
                   [eventNum] = "eventNum"
                   [arrowPosition] = "arrowUp"
                   [percent]="persentbox4">
      </app-kpi-box>
      <app-kpi-box [event] = "event"
                   [eventNum] = "eventNum"
                   [arrowPosition] = "arrowUp"
                   [percent]="persentbox5">
      </app-kpi-box>
      <app-kpi-box [event] = "event"
                   [eventNum] = "eventNum"
                   [arrowPosition] = "arrowDown"
                   [percent]="persentbox6">
      </app-kpi-box>
    </div>
  </div>
</div>
